@model List<Blog.Web>

<div class="container mt-5">
    <div class="page-inr three-clm">
	<h1 class="heading-m text-center">Blogs </h1>
        @Html.Partial("~/Views/Home/_BlogList.cshtml", Model)
    </div>
</div>
