<footer class=" bg-light">

    <div class="container-fuild-responsive">
        <div class="col-md-11 mx-auto">
            <div class="row pt-5 pb-4 no-margin" id="footer" role="navigation">
                <div class="text-3 widget_text col-sm">
                    <h2 class="h4">About Us</h2>
                    <div class="textwidget">
                        <p>
                            <a href="who-we-are/" alt="Who We Are">Who We Are</a><br>
                            <a href="our-management-team/" alt="Our Management Team">
                                Our
                                Management Team
                            </a>
                        </p>
                    </div>
                </div>
                <div class="text-4 widget_text col-sm">
                    <h2 class="h4">Why Us</h2>
                    <div class="textwidget">
                        <p><a href="why-us/">What Differentiate Us</a></p>
                    </div>
                </div>
                <div class="text-5 widget_text col-sm">
                    <h2 class="h4">Our Solutions</h2>
                    <div class="textwidget">
                        <p>
                            <a href="staffing-payroll-management/">
                                Staffing &amp; Payroll
                                Management
                            </a><br>
                            <a href="sales-force-enablement/">Sales Force Enablement</a>
                        </p>
                    </div>
                </div>
                <div class="text-6 widget_text col-sm">
                    <h2 class="h4">Careers</h2>
                    <div class="textwidget">
                        <p><a href="careers/">Why Work With Us</a></p>
                        <h3 class="h4 mt-4 useful-links">Useful Links</h3>
                        <p>
                            <a href="job-board/">Job Board</a><br>
                            <a href="http://103.209.145.69/Payroll" target="_blank" rel="noopener">
                                Client
                                Login
                            </a><br>
                            <a href="http://103.209.145.69/Payroll/emplogin.aspx" target="_blank"
                               rel="noopener">Employee Login</a><br>
                            <a href="download/" target="" rel="noopener">Downloads</a>
                        </p>
                    </div>
                </div>
                <div class="text-7 widget_text col-sm">
                    <h2 class="h4">Get in Touch</h2>
                    <div class="textwidget">
                        <p>
                            Do you have any queries or comments about our website, our products or any of our
                            services?
                        </p>
                        <p>
                            <a href="contact-us/" alt="Contact">
                                <button class="btn normal"
                                        type="button">
                                    Contact &nbsp;
                                </button>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>